name: prueba_tecnica_javier_linares
services:
  frontend:
    container_name: frontend-react
    build: ./Frontend_Prueba_Tecnica_MP
    ports:
      - "8080:8080"
    environment:
      - VITE_API_URL=${FRONTEND_VITE_API_URL}

  sqlserver-db:
      container_name: SQLServer
      image: mcr.microsoft.com/mssql/server:2022-latest
      restart: always
      volumes:
        - ./sqlserver-data:/var/opt/mssql/data
      ports:
        - "1433:1433"
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=12345OJLl%n
        - MSSQL_PID=Express
      healthcheck:
        test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '12345OJLl%n' -Q 'SELECT 1' -C || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 30s
  backend:
    container_name: backend-nodejs
    depends_on:
      sqlserver-db:
        condition: service_healthy
    build: ./Backend_Prueba_Tecnica_MP
    ports: 
      - "3000:3000"
    volumes:
      - ./Backend_Prueba_Tecnica_MP/src:/usr/src/app/src
      - ./uploads:/usr/src/app/uploads
    command: npm run start
    environment:
      - NODE_ENV=${BACKEND_NODE_ENV}
      - PORT=${BACKEND_PORT}
      - DATABASE_URL=${BACKEND_DATABASE_URL}
      - JWT_SECRET=${BACKEND_DATABASE_URL}
      - JWT_EXPIRES_IN=${BACKEND_JWT_EXPIRES_IN}
      - BCRYPT_SALT_ROUNDS=${BACKEND_BCRYPT_SALT_ROUNDS}
      - RATE_LIMIT_WINDOW_MS=${BACKEND_RATE_LIMIT_WINDOW_MS}
      - RATE_LIMIT_MAX_REQUESTS=${BACKEND_RATE_LIMIT_MAX_REQUESTS}
      - MAX_FILE_SIZE=${BACKEND_MAX_FILE_SIZE}
      - UPLOAD_PATH=${BACKEND_UPLOAD_PATH}
      - EMAIL_HOST=${BACKEND_EMAIL_HOST}
      - EMAIL_PORT=${BACKEND_EMAIL_PORT}
      - EMAIL_USER=${BACKEND_EMAIL_USER}
      - EMAIL_PASSWORD=${BACKEND_EMAIL_PASSWORD}
      - EMAIL_FROM=${BACKEND_EMAIL_FROM}